.button {
    width: 300px;
    height: 65px;
    border-radius: 30px;
    border: none;
    font-weight: 700;
    font-size: 18px;
    background-color: #00C78B;
    color: #ffffff;
}

@media (max-width: 1024px) {
    .button {
        width: 220px;
        height: 45px;
        font-size: 14px;    
    }
}

@media (max-width: 480px) {
    .button {
        width: 220px;
        height: 45px;
        font-size: 14px;    
    }
}